name: Conventional Commits

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  check:
    name: Conventional Commits
    runs-on: ubuntu-latest
    steps:
      - uses: annuaire-entreprises-data-gouv-fr/github-actions/.github/actions/conventional-check@main
        with:
          disable-branch-check: "true"
          disable-commit-check: "true"
