---
name: PR Validation
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  build:
    name: Lint Code Base
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade ruff mypy
      # Include `--format=github` to enable automatic inline annotations.
      - name: Run Ruff
        # --extend-select I not working yet as ruff is considering
        # data_pipelines_annuaire as a third party package since the repo is named search-infra
        # run: ruff check --extend-select I --diff -- --format=github .
        run: ruff check --diff -- --format=github .
      - name: Run Mypy
        run: |
          mypy --no-strict-optional \
            --ignore-missing-imports \
            --install-types \
            --non-interactive \
            --explicit-package-bases


  unit-tests:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    needs: [build]
    strategy:
      fail-fast: true
      matrix:
        python-version: [3.12]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          path: data_pipelines_annuaire
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Cache pip dependencies
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-airflow-3.1.6-pip-${{ hashFiles('data_pipelines_annuaire/requirements.txt') }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install apache-airflow==3.1.6
          python -m pip install -r data_pipelines_annuaire/requirements.txt
      - name: unit tests
        run: |
          cd data_pipelines_annuaire
          pytest tests/unit_tests -v
